<!DOCTYPE html>
<html>
  <head>
    <title>Branch Main Menu</title>
    <link rel="stylesheet" href="/employeeMenu.css" />
  </head>
  <body>
    <h1>Branch Main Menu</h1>
    <div class="menu-container">
      <a href="/branch" class="menu-option">View and Update Branch information</a>
      <a href="/createBranch" class="menu-option">Add a new branch</a>
    </div>
  </body>
</html>
