<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>Dream Home Hiring System</h1>
    <table>
      <tr>
        <td><a href="/staff">Staff Main Menu</a></td>
        <td><a href="/branch">Branch Main Menu</a></td>
        <td><a href="/client">Client Main Menu</a></td>
      </tr>
    </table>
  </body>
</html>
