<!DOCTYPE html>
<html>
  <head>
    <title>Staff Main Menu</title>
    <link rel="stylesheet" href="/employeeMenu.css" />
  </head>
  <body>
    <h1>Employee Main Menu</h1>
    <div class="menu-container">
      <a href="/hire" class="menu-option">Hire a Staff Member</a>
      <a href="/update" class="menu-option">Update a Staff Member</a>
      <a href="/terminate" class="menu-option">Terminate a Staff Member</a>
    </div>
  </body>
</html>
