body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #ccff33; /* Bright green background */
}

h1 {
  color: rgb(206, 20, 20);
  margin-top: 20px;
  font-size: 2em;
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.menu-option {
  display: block;
  width: 300px;
  padding: 15px;
  margin: 10px;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  color: #444;
  background-color: #fff;
  border: 2px solid #444;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.menu-option:hover {
  background-color: #444;
  color: #fff;
}
